
$light-grey: #666666;
$light-blue: #99cccc;
$main: #ffffff;
$grey:#333333;

@import "partials/front-nav";
@import "partials/hero";
@import "partials/to-the-moon";
@import "partials/more-deals";
@import "partials/footer";

body{
  margin:0;
}







