
$light-grey: #666666;
$light-blue: #99cccc;
$main: #ffffff;
$grey:#333333;
$small: "only screen and (min-width:0px) and (max-width:600px)";
$medium: "only screen and (min-width:601px) and (max-width:965px)";
$large: "only screen and (min-width: 966px)";

@import "partials/front-nav";
@import "partials/hero";
@import "partials/to-the-moon";
@import "partials/more-deals";
@import "partials/footer";

body{
  margin:0;
}



