#front-nav {
  display: flex;
  background-color: #333333;
  justify-content: space-around; }
  @media only screen and (min-width: 601px) and (max-width: 965px) {
    #front-nav {
      background: linear-gradient(to bottom, black 0%, #99cccc 92%, #000000 50%, white 50%, white 100%);
      flex-direction: column; } }
  #front-nav #front-nav-image {
    display: flex;
    font-size: 60px;
    color: #99cccc; }
    @media only screen and (min-width: 601px) and (max-width: 965px) {
      #front-nav #front-nav-image {
        color: transparent; } }
    #front-nav #front-nav-image #front-nav-logo {
      height: 60px;
      -webkit-filter: invert(100%); }
      @media only screen and (min-width: 601px) and (max-width: 965px) {
        #front-nav #front-nav-image #front-nav-logo {
          height: 200px;
          padding-left: 40%; } }

@media only screen and (min-width:601px) and (max-width:965px) {
  #front-nav #front-nav-medium-text-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3%; } }

@media only screen and (min-width:0px) and (max-width:600px) {
  #front-nav #front-nav-medium-text-logo #front-nav-medium-logo {
    visibility: hidden; } }

@media only screen and (min-width:601px) and (max-width:965px) {
  #front-nav #front-nav-medium-text-logo #front-nav-medium-logo {
    text-align: center;
    font-size: 35px;
    margin-right: 10px;
    font-weight: bold; } }

@media only screen and (min-width:0px) and (max-width:600px) {
  #front-nav #front-nav-medium-text-logo #front-nav-medium-logo-2 {
    visibility: hidden; } }

@media only screen and (min-width:601px) and (max-width:965px) {
  #front-nav #front-nav-medium-text-logo #front-nav-medium-logo-2 {
    font-size: 35px; } }
  #front-nav #hamburger {
    display: flex;
    height: 60px;
    margin: 5px; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #front-nav #hamburger {
    visibility: hidden; } }
  #front-nav #front-nav-dropdown {
    height: 1px; }

@media only screen and (min-width:0px) and (max-width:600px) {
  #front-nav #front-nav-dropdown-bar {
    visibility: hidden; } }
  @media only screen and (min-width: 601px) and (max-width: 965px) {
    #front-nav #front-nav-dropdown-bar {
      display: flex;
      align-content: center;
      flex-direction: row;
      justify-content: space-around;
      background-color: black;
      color: #ffffff;
      visibility: initial;
      font-size: 25px;
      margin-left: 3%;
      margin-right: 3%;
      border-radius: 7px;
      padding-top: 2%;
      padding-bottom: 2%; } }

/* @media screen and (min-width: 965px) {
  #front-nav{
    background-color:red;
  }
} */
#hero {
  display: flex;
  flex-direction: column;
  background-color: #99cccc; }
  @media only screen and (min-width: 601px) and (max-width: 965px) {
    #hero {
      background-color: #ffffff; } }
  #hero #hero-image {
    display: flex;
    justify-content: center; }
    #hero #hero-image #hero-image-logo {
      height: 300px; }
  #hero #hero-text {
    font-size: 50px;
    padding-left: 10%;
    padding-right: 10%; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #hero #hero-text {
    background-color: #99cccc;
    padding: 10%;
    margin-left: 2%;
    margin-right: 2%; } }
  #hero #hero-button {
    display: flex;
    justify-content: center; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #hero #hero-button {
    background-color: #99cccc;
    margin-left: 2%;
    margin-right: 2%; } }
  #hero #hero-button-press {
    width: 80%;
    height: 120px;
    margin: 100px;
    background-color: #666666;
    color: #ffffff;
    font-size: 18px;
    box-shadow: black 10px 10px; }

#to-the-moon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #to-the-moon {
    display: flex;
    flex-direction: column;
    align-items: center; } }
  #to-the-moon #to-the-moon-deal-1 {
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 80%;
    border-radius: 15px; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #to-the-moon #to-the-moon-deal-1 {
    display: flex-direction;
    flex-direction: row-reverse; } }
    #to-the-moon #to-the-moon-deal-1 #to-the-moon-deal-1-banner {
      color: #ffffff;
      font-size: 40px;
      padding: 50px;
      font-weight: bold;
      border-bottom: black 1px solid; }
    #to-the-moon #to-the-moon-deal-1 #to-the-moon-deal-1-price {
      color: #ffffff;
      font-size: 80px;
      padding: 20px;
      text-decoration: underline;
      order: 1; }
    #to-the-moon #to-the-moon-deal-1 #to-the-moon-deal-1-content {
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
      padding-bottom: 10%;
      padding-top: 5%; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #to-the-moon #to-the-moon-deal-1 #to-the-moon-deal-1-content {
    font-size: 16px;
    order: -1;
    padding: 0px; } }
  #to-the-moon #to-the-moon-deal-2 {
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width: 80%;
    border-radius: 15px; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #to-the-moon #to-the-moon-deal-2 {
    display: flex-direction;
    flex-direction: row-reverse; } }
    #to-the-moon #to-the-moon-deal-2 #to-the-moon-deal-2-banner {
      color: #ffffff;
      font-size: 40px;
      padding: 50px;
      font-weight: bold;
      border-bottom: black 1px solid; }
    #to-the-moon #to-the-moon-deal-2 #to-the-moon-deal-2-price {
      color: #ffffff;
      font-size: 80px;
      padding: 20px;
      text-decoration: underline;
      order: 1; }
    #to-the-moon #to-the-moon-deal-2 #to-the-moon-deal-2-content {
      color: #ffffff;
      font-size: 30px;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%;
      padding-bottom: 10%;
      padding-top: 5%; }

@media only screen and (min-width:601px) and (max-width:965px) {
  #to-the-moon #to-the-moon-deal-2 #to-the-moon-deal-2-content {
    font-size: 16px;
    order: -1;
    padding: 0px; } }

#more-deals {
  background-color: #99cccc;
  display: flex;
  justify-content: center; }
  #more-deals #more-deals-text {
    color: #ffffff;
    font-size: 35px;
    padding: 10px; }
  #more-deals #more-deals-button {
    padding: 10px; }

#footer {
  background-color: grey;
  font-size: 30px;
  text-align: center;
  padding: 30px; }

body {
  margin: 0; }
