#front-nav{
  display:flex;
  background-color: $grey;
  justify-content: space-around;
  #front-nav-image{
    display: flex;
    font-size: 60px;
    color: $light-blue;
    #front-nav-logo{
      display: flex;
      height:60px;
      -webkit-filter: invert(100%)
    }
  }
  #hamburger{
    display: flex;
    height:60px;
    margin:5px;
  }
}