#to-the-moon{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main;
  #to-the-moon-deal-1{
    background-color: $light-grey;
    display: flex;;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width:80%;
    border-radius: 15px;
    #to-the-moon-deal-1-banner{
      color:$main;
      font-size: 40px;
      padding: 50px;
      font-weight: bold;
      border-bottom: black 1px solid;
    }
    #to-the-moon-deal-1-price{
      color: $main;
      font-size: 80px;
      padding: 20px;
      text-decoration: underline;
    }
    #to-the-moon-deal-1-content{
      color: $main;
      font-size: 30px;
      text-align: center;
      padding-right: 20%;
      padding-left:20%;
      padding-bottom:10%;
      padding-top:5%;
        }
    }
  #to-the-moon-deal-2{
    background-color: $light-grey;
    display: flex;;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    width:80%;
    border-radius: 15px;
    #to-the-moon-deal-2-banner{
      color:$main;
      font-size: 40px;
      padding: 50px;
      font-weight: bold;
      border-bottom: black 1px solid;
      }
    #to-the-moon-deal-2-price{
      color: $main;
      font-size: 80px;
      padding: 20px;
      text-decoration: underline;
      }
    #to-the-moon-deal-2-content{
      color: $main;
      font-size: 30px;
      text-align: center;
      padding-right: 20%;
      padding-left:20%;
      padding-bottom:10%;
      padding-top:5%;
      }
    }
}